<table class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>total Salario</th>
              <th>sueldo Liquido</th>
              <th>Salario Ordinario</th>
              <th>igss</th>
              <th>bonificacion</th>
              <th>retencion</th>
              <th>editar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let s of datos">
            <td scope="row">{{s.idDetallePlanilla}}</td>
            <td scope="row">{{s.nombre}}</td>
            <td scope="row">{{s.totalSalario}}</td>
            <td scope="row">{{s.sueldoLiquido}}</td>
                <td scope="row">{{s.salarioOrdinario}}</td>
            <td scope="row">{{s.igss}}</td>
            <td scope="row">{{s.bonificacion}}</td>
            <td scope="row">{{s.retencion}}</td>
            <td scope="row">
              <div>
               
               <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/historial/editar', s.idDetallePlanilla]">
                 Update 
                 </button>
                </div>
            </td>
          </tr>
        </tbody>
</table>

<div class="container">
  <div class="row justify-content-md-right">
    <div class="col col-lg-2">
      <h4>total salarios: {{total1}}</h4>

    </div>
    <div class="col-10 col-md-auto">
      <h4>total retenciones: {{total2}} </h4>
    </div>
    <div class="col col-lg-2">
      <h4>total de igss: {{total3}} </h4>
      
    </div>
    <div class="col col-lg-2">
      <h4>total de sueldo Liquido: {{total4}} </h4>
  
    </div>
  </div>