<div class="valign-wrapper" id="login-page">
    <div class="container">
        <div class="center-align">
            <div class="row">
                <div class="col s6 offset-s4">
                    <br>
                    <br>
                    <br>
                    <h4>FORMULARY </h4>
                    <form #formularioDetalle="ngForm" (ngSubmit)="guardarCambios()">
                        
                        <div class="form-group">
                            <label for="formGroupExampleInput">salario Ordinario</label>
                            <input name="salarioOrdinario" type="text" [(ngModel)]="detalle.salarioOrdinario">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">igss</label>
                            <input name="igss" type="text" [(ngModel)]="detalle.igss">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">retencion</label>
                            <input name="retencion" type="text" [(ngModel)]="detalle.retencion">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">bonificacion</label>
                            <input name="bonificacion" type="text" [(ngModel)]="detalle.bonificacion">
                        </div>
                        <div class="form-group">
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit">
                                                    Ingresar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>