<form #formularioDetalle="ngForm" (ngSubmit)="inicial()">


<label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="_year" [(ngModel)]="planilla._year" id="inlineFormCustomSelect">
    <option selected>Eliga...</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
    <option value="1999">1999</option>
    <option value="1998">1998</option>
    <option value="1997">1997</option>
    <option value="1996">1996</option>
  </select>
  
    <button class="btn btn-info" type="submit"> 
      buscar                         
    </button>


  </form>



<br>


<div class="centrarCaja">
  <div class="container" style="width: 20cm">

  <div *ngFor="let s of data" class="col col-lg-2">
    <div class="card" style="width: 20rem; background: beige">
      <img class="card-img-top" height="150px" width="300px" src="../assets/payroll.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title" >{{s.nombre}}</h4>
      </div>
      <ul class="list-group list-group-flush" style="height: 5rem;">
        <li  class="list-group-item" ><b> {{s.fechaGeneracion}} </b>
        </li>
      </ul>
      <div class="card-block">
       <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/historial', s.idPlanilla]">
                 Detalle 
                 </button>
      <button class="btn btn-danger"  type="submit" name="action"
                (click)="borrarPlanilla(s.idPlanilla)">
                  delete
      </button>
      </div>
    </div>
     <br>

  </div>
 
</div>
</div>

