<div class="valign-wrapper" id="login-page">
    <div class="container">
        <div class="center-align">
            <div class="row">
                <div class="col s6 offset-s4">
                    <br>
                    <br>
                    <br>
                    <h4>FORMULARY </h4>
                    <form #formularioDetalle="ngForm" (ngSubmit)="guardarCambios()">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Year</label>
                            <input name="_year" type="text" [(ngModel)]="igss._year">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Salary</label>
                            <input name="salario" type="text" [(ngModel)]="igss.cuota">
                        </div>
                        <div class="form-group">
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit">
                                                    Ingresar
                                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>