<h2>IGSS</h2>
<hr>
<br>
<br>
<table class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>Year</th>
              <th>couta</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let igss of ig">
            <td scope="row">{{igss.idIgss}}</td>
            <td >{{igss._year}}</td>
            <td scope="row">{{igss.cuota}}</td>
            <td scope="row">
              <div>
               
               <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/igss', igss.idIgss]">
                 Update 
                 </button>
                <button class="btn btn-danger"  type="submit" name="action"
                (click)="borrarIgss(igss.idIgss)">
                  delete
                 </button>
                </div>
            </td>
          </tr>
        </tbody>
</table>

<button class="btn btn-success"
[routerLink]="['/igss/nuevo']">
  New Igss
</button>