<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['home']">Inicio</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
               <li routerLinkActive="active" class="nav-item active">
                <a class="nav-link" [routerLink]="['igss']">Igss</a>
              </li>
              <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['salario']">Salario</a>
              </li>
              <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['planilla']">Planilla</a>
              </li>
              <li class="nav-item active" routerLinkActive="active">
                <a  class="nav-link" [routerLink]="['empleado']">Empleado</a>
              </li>
              <li class="nav-item active" routerLinkActive="active">
                <a  class="nav-link" [routerLink]="['historial']">Planillas</a>
              </li>
            
        </ul>
       
      </div>
    </nav>
<br>
<br>
<br>






