<div class="row">

<div class="valign-wrapper" id="login-page">
    <div class="container">
        <div class="center-align">
            <div class="row">
                <div class="col s6 offset-s4">
                    <br>
                    <br>
                    <br>
                    <h4>FORMULARY </h4>
                    <form #formularioDetalle="ngForm" (ngSubmit)="guardarCambios()">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre</label>
                            <input name="nombre" type="text" [(ngModel)]="empleado.nombre">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Apellido</label>
                            <input name="apellido" type="text" [(ngModel)]="empleado.apellido">
                        </div>

                        <div *ngIf="a" class="form-group">
                            <label for="formGroupExampleInput">Fecha Inicio</label>
                            <input name="fechaInicio" type="date" [(ngModel)]="empleado.fechaInicio">
                        </div>
                        
                        <label class="custom-control custom-radio">
                            <input id="radio1" name="estado1" type="radio" (change)="estado1()"  [(ngModel)]="empleado.idEstado" value="1" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Activo</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="radio2" name="estado2" type="radio" (change)="estado()" [(ngModel)]="empleado.idEstado" value="2" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Inactivo </span>
                        </label>
                        <div class="form-group"> 
                            <label for="formGroupExampleInput">bonificacion</label>
                            <input name="bonificacion" type="text" [(ngModel)]="empleado.bonificacion">
                        </div>
                        <div  class="form-group">
                            <label for="formGroupExampleInput">Fecha de Bonificacion</label>
                            <input name="fecha1" type="date" [(ngModel)]="empleado.fecha2">
                        </div>
                        <div class="form-group"> 
                            <label for="formGroupExampleInput">retencion</label>
                            <input name="retencion" type="text" [(ngModel)]="empleado.retencion">
                        </div>

                        <div  class="form-group">
                            <label for="formGroupExampleInput">Fecha de retencion</label>
                            <input name="fecha2" type="date" [(ngModel)]="empleado.fecha1">
                        </div>
                        <div class="form-group" *ngIf="b"> 
                            <label for="formGroxupExampleInput">fecha inactividad</label>
                            <input name="fechaInactividad" type="date" [(ngModel)]="empleado.fechaInactividad">
                        </div>

                        <div class="form-group">
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit">
                                                    Ingresar
                                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</div>