<div class="jumbotron" style="height:6cm; width:23cm">
  <h1 >EMPLOYEES</h1>
  <hr>
 
    <button class="btn btn-success"
[routerLink]="['/empleado/nuevo']">
  New employee
</button>
</div>


<div class="container-fluid" style="width: 20cm">

  <div *ngFor="let s of empleados" class="col col-lg-2">
    <div class="card" style="width: 30rem; background: beige">
      <img class="card-img-top" height="250px" src="../assets/flat.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title" >{{s.nombre}} {{s.apellido}}</h4>
      </div>
      <ul class="list-group list-group-flush" style="height: 5rem;">
        <li style="background: slateblue" class="list-group-item" *ngIf="s.idEstado != 1"><b> {{s.estado}} </b>
        </li>
        <li style="background: mediumaquamarine" class="list-group-item" *ngIf="s.idEstado == 1"><b>{{s.estado}}</b>
        </li>
      </ul>
      <div class="card-block">
       <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/empleado', s.idEmpleado]">
                 Update 
                 </button>
       <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/empleado/historial', s.idEmpleado]">
                 Historial 
         </button>
                
      <button class="btn btn-danger"  type="submit" name="action"
                (click)="borrarEmpleado(s.idEmpleado)">
                  delete
      </button>
      </div>
    </div>
     <br>

  </div>
 
</div>
