<div class="container">
<h2>bonificaciones</h2>
<hr>
<br>
<br>
<div class="row">
<table style="width: 300px" class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>cuota</th>
              <th>fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let s of bonificaciones">
            <td scope="row">{{s.idBonificacion}}</td>
            <td >{{s.cuota}}</td>
            <td scope="row">{{s.fecha}}</td>
          </tr>
        </tbody>
</table>
</div>
<h2>retenciones</h2>
<hr>
<br>
<br>
<div class="row">
<table style="width: 300px" class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>cuota</th>
              <th>fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let sf of retenciones">
            <td scope="row">{{sf.idRetencion}}</td>
            <td >{{sf.cuota}}</td>
            <td scope="row">{{sf.fecha}}</td>
          </tr>
        </tbody>
</table>
</div>
</div>
<button class="btn btn-success"
[routerLink]="['/empleado']">
  regresar
</button>