<h4>Planillas </h4>
<form #formularioDetalle="ngForm" (ngSubmit)="iniciar()">
    <div class="btn-group">

  <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="_year" [(ngModel)]="planilla._year" id="inlineFormCustomSelect">
    <option selected>Eliga...</option>
 
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
    <option value="1999">1999</option>
    <option value="1998">1998</option>
    <option value="1997">1997</option>
    <option value="1996">1996</option>
  </select>
  </div>

  <div class="btn-group">

  <label class="mr-sm-2" for="inlineFormCustomSelect">Month</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="mes"  [(ngModel)]="planilla.mes" id="inlineFormCustomSelect">
    <option selected>Eliga...</option>
    <option value="01">January</option>
    <option value="02">February</option>
    <option value="03">March</option>
    <option value="04">April</option>
    <option value="05">May</option>
    <option value="06">June</option>
    <option value="07">July</option>
    <option value="08">Agust</option>
    <option value="09">September</option>
    <option value="10">Octuber</option>
    <option value="11">November</option>
    <option value="12">December</option>

  </select>
  </div>

  <div class="btn-group">
    <button class="btn btn-success" type="submit"> 
      Generar                         
    </button>
  </div>

</form>


<div class="container" *ngIf="t" >
  <div class="row"> 

    <br>
    <br>
    <br>
    <br>
<table class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>nombre</th>
              <th>salario ordinario</th>
              <th>total de salario</th>
              <th>salario liquido</th>
              <th>igss</th>
              <th>bonificacion</th>
              <th>retencion</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let q of generada">
            <td scope="row">{{q.idEmpleado}}</td>
            <td >{{q.nombre}}</td>
            <td>{{q.salario}}</td>
            <td scope="row">{{q.totalSueldo}}</td>
            <td scope="row">{{q.liquido}}</td>
            <td scope="row">{{q.cuotaIgss}}</td>
            <td scope="row">{{q.coutaBonificacion}}</td>
            <td scope="row">{{q.cuotaRetencion}}</td>
          </tr>
        </tbody>
</table>



  </div>
    <form #formularioDetalle="ngForm" (ngSubmit)="guardarPlanilla()">
               <button  class="btn btn-info" type="submit" name="action" 
                >
                 Guardar Planilla
                   </button>

    </form>

</div>




<div class="container" *ngIf="j">
  <div class="row"> 

    <br>
    <br>
    <h4>Fecha de generacion:</h4>
    <br>
    <h5>{{fecha}}</h5>
    <br>
    <br>
<table class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>nombre</th>
              <th>salario ordinario</th>
              <th>total de salario</th>
              <th>salario liquido</th>
              <th>igss</th>
              <th>bonificacion</th>
              <th>retencion</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let s of pl">
            <td scope="row">{{s.idDetallePlanilla}}</td>
            <td >{{s.nombre}}</td>
            <td>{{s.salarioOrdinario}}</td>
            <td scope="row">{{s.totalSalario}}</td>
            <td scope="row">{{s.sueldoLiquido}}</td>
            <td scope="row">{{s.igss}}</td>
            <td scope="row">{{s.bonificacion}}</td>
            <td scope="row">{{s.retencion}}</td>
                     </tr>
        </tbody>
</table>
<div class="container">
  <div class="row justify-content-md-right">
    <div class="col col-lg-2">
      <h4>total salarios: {{total1}}</h4>

    </div>
    <div class="col-10 col-md-auto">
      <h4>total retenciones: {{total2}} </h4>
    </div>
    <div class="col col-lg-2">
      <h4>total de igss: {{total3}} </h4>
      
    </div>
    <div class="col col-lg-2">
      <h4>total de sueldo Liquido: {{total4}} </h4>
  
    </div>
  </div>





  </div>

</div>



