<h2>Salarys</h2>
<hr>
<br>
<br>
<table class="table table-sm table-inverse">
        <thead>
          <tr>
              <th>ID</th>
              <th>Year</th>
              <th>salary</th>
              <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let sal of salarios">
            <td scope="row">{{sal.idSalarioOrdinario}}</td>
            <td >{{sal._year}}</td>
            <td scope="row">{{sal.salario}}</td>
            <td scope="row">
              <div>
               
               <button  class="btn btn-info" type="submit" name="action" 
                [routerLink]="['/salario', sal.idSalarioOrdinario]">
                 Update 
                 </button>
                <button class="btn btn-danger"  type="submit" name="action"
                (click)="borrarSalario(sal.idSalarioOrdinario)">
                  delete
                 </button>
                </div>
            </td>
          </tr>
        </tbody>
</table>

<button class="btn btn-success"
[routerLink]="['/salario/nuevo']">
  New salary
</button>